footer 
  .container
    .footer-top 
      .footer-about.col 
        .image 
          img(src="imgs/home/logo.png", alt="logo")
        p Tempora dolorem voluptatum nam vero assumenda voluptate, facilis ad eos obcaecati tenetur veritatis eveniet distinctio possimus.
        ul 
          li
            a(href="#")
              i.icofont-facebook
          li
            a(href="#")
              i.icofont-twitter
          li
            a(href="#")
              i.icofont-linkedin
      .department.col
        h4 Department 
        .divider 
        ul 
          li: a(href="#") Surgary
          li: a(href="#") Wome's Health
          li: a(href="#") Radiology
          li: a(href="#") Cardioc
          li: a(href="#") Medicine 
      .support.col 
        h4 Support 
        .divider 
        ul 
          li: a(href="#") Terms & Conditions
          li: a(href="#") Privacy & Policy
          li: a(href="#") Comany Support
          li: a(href="#") FA Questions
          li: a(href="#") Company Licence
      .connect.col
        h4 Get IN Touch 
        .divider 
        .mail
          .title   
            i.icofont-email 
            span Support Available for 24/7
          a(href="mailto:support@emial.com") Support@email.com
        .phone 
          .title   
            i.icofont-support 
            span Mon to Fri : 08:30 - 18:00
          a(href="tel:+23-456-6588") +23-456-6588 
    .footer-btm 
      .copy.col
        | Copyright &copy; <span id="year"></span>, Designed & Developed by <a href="https://mohammed-fandees.vercel.app/">Mo.Fandees</a>
      .subscribe.col 
        form 
          div 
            input(type="text" placeholder="Your Email Address")
            button.primary-btn subscribe 
