header.top
  nav.container
    .left
      .mail
        i.icofont-support-faq
        span support@novena.com
      .address
        i.icofont-location-pin
        span Address Ta-134/A, New York, USA
    .right
      span Call Now : <a href="tel:+23-345-67890">823-4565-13456</a>
header.bottom
  nav.container
    .logo: a(href="/home"): img(src="./imgs/home/logo.png", alt="logo")
    .links
      |
      |
      i.icofont-navigation-menu#button
      ul#navbar
        li: a(href="/home") Home
        li: a(href="/about") About
        li: a(href="/services") Services
        li: a(href="/departments") Departments
        li.menu Doctors <i class="icofont-thin-down"></i>
          ul
            li: a(href="/doctors") Doctors
            li: a(href="/appoinment") Appoinment
        li: a(href="/blog") Blog 
        li: a(href="/contact") Contact
