<!DOCTYPE html >
<html> 
  <head> 
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Novena - Health Care</title>
    <link rel="stylesheet" href="icofont/icofont.min.css"/>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/master.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="css/appoinment.css"/>
  </head>
  <body> 
    <header class="top">
      <nav class="container">
        <div class="left">
          <div class="mail"><i class="icofont-support-faq"></i><span>support@novena.com</span></div>
          <div class="address"><i class="icofont-location-pin"></i><span>Address Ta-134/A, New York, USA</span></div>
        </div>
        <div class="right"><span>Call Now : <a href="tel:+23-345-67890">823-4565-13456</a></span></div>
      </nav>
    </header>
    <header class="bottom">
      <nav class="container">
        <div class="logo"><a href="/home"><img src="./imgs/home/logo.png" alt="logo"/></a></div>
        <div class="links">
          
          <i class="icofont-navigation-menu" id="button"></i>
          <ul id="navbar">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/departments">Departments</a></li>
            <li class="menu">Doctors <i class="icofont-thin-down"></i>
              <ul>
                <li><a href="/doctors">Doctors</a></li>
                <li><a href="/appoinment">Appoinment</a></li>
              </ul>
            </li>
            <li><a href="/blog">Blog </a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="banner-2">
      <div class="page-title"><span></span>
        <h1></h1>
      </div>
    </div>
    <section class="appoinment"> 
      <div class="container"> 
        <div class="col"> 
          <div class="icon"><i class="icofont-support"></i></div>
          <h3>Call for an Emergency Service!</h3>
          <h2>+84 789 1256</h2>
        </div>
        <div class="form"> 
          <div class="col"> 
            <div class="title"> 
              <h2 class="title-color">Book appoinment</h2>
              <p>Mollitia dicta commodi est recusandae iste, natus eum asperiores corrupti qui velit . Iste dolorum atque similique praesentium soluta.</p>
            </div>
            <form action="" method="POST">
              <div class="box">
                <div class="col"> 
                  <select id="department" name="department">
                    <option value="0">Choose Department  </option>
                    <option value="1">Software Design </option>
                    <option value="2">Development cycle </option>
                    <option value="3">Software Development  </option>
                    <option value="4">Maintenance</option>
                    <option value="5">Process Query</option>
                    <option value="6">Cost and Duration</option>
                    <option value="7">Modal Delivery</option>
                  </select>
                </div>
                <div class="col">
                  <select id="doctors" name="doctors">
                    <option value="0">Choose Department  </option>
                    <option value="1">Software Design </option>
                    <option value="2">Development cycle </option>
                    <option value="3">Software Development  </option>
                    <option value="4">Maintenance</option>
                    <option value="5">Process Query</option>
                    <option value="6">Cost and Duration</option>
                    <option value="7">Modal Delivery</option>
                  </select>
                </div>
                <div class="col">
                  <input type="date" name="date"/>
                </div>
                <div class="col">
                  <input type="text" name="time" placeholder="Time"/>
                </div>
                <div class="col">
                  <input type="text" name="full-name" placeholder="Full Name"/>
                </div>
                <div class="col">
                  <input type="text" name="phone" placeholder="Phone"/>
                </div>
              </div>
              <div class="box"> 
                <textarea id="message" name="msg" cols="30" rows="10" placeholder="Your message"></textarea>
              </div><a class="primary-btn fill" href="#">make appoinment <i class="icofont-thin-right ml-2"></i></a>
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer> 
      <div class="container">
        <div class="footer-top"> 
          <div class="footer-about col"> 
            <div class="image"> <img src="imgs/home/logo.png" alt="logo"/></div>
            <p>Tempora dolorem voluptatum nam vero assumenda voluptate, facilis ad eos obcaecati tenetur veritatis eveniet distinctio possimus.</p>
            <ul> 
              <li><a href="#"><i class="icofont-facebook"></i></a></li>
              <li><a href="#"><i class="icofont-twitter"></i></a></li>
              <li><a href="#"><i class="icofont-linkedin"></i></a></li>
            </ul>
          </div>
          <div class="department col">
            <h4>Department </h4>
            <div class="divider"> </div>
            <ul> 
              <li><a href="#">Surgary</a></li>
              <li><a href="#">Wome's Health</a></li>
              <li><a href="#">Radiology</a></li>
              <li><a href="#">Cardioc</a></li>
              <li><a href="#">Medicine </a></li>
            </ul>
          </div>
          <div class="support col"> 
            <h4>Support </h4>
            <div class="divider"> </div>
            <ul> 
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privacy & Policy</a></li>
              <li><a href="#">Comany Support</a></li>
              <li><a href="#">FA Questions</a></li>
              <li><a href="#">Company Licence</a></li>
            </ul>
          </div>
          <div class="connect col">
            <h4>Get IN Touch </h4>
            <div class="divider"> </div>
            <div class="mail">
              <div class="title">  <i class="icofont-email"> </i><span>Support Available for 24/7</span></div><a href="mailto:support@emial.com">Support@email.com</a>
            </div>
            <div class="phone"> 
              <div class="title">  <i class="icofont-support"> </i><span>Mon to Fri : 08:30 - 18:00</span></div><a href="tel:+23-456-6588">+23-456-6588 </a>
            </div>
          </div>
        </div>
        <div class="footer-btm"> 
          <div class="copy col">Copyright &copy; <span id="year"></span>, Designed & Developed by <a href="https://mohammed-fandees.vercel.app/">Mo.Fandees</a></div>
          <div class="subscribe col"> 
            <form> 
              <div> 
                <input type="text" placeholder="Your Email Address"/>
                <button class="primary-btn">subscribe </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="js/swiper.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/footer.js"> </script>
  </body>
</html>