doctype html 
html 
  head 
    include ./includes/head
    link(rel="stylesheet", href="css/about.css")
  body 
    include ./includes/header
    include ./includes/banner
    include ./includes/footer
    include ./includes/scripts