doctype html 
html 
  head 
    include ./includes/head
    link(rel="stylesheet", href="css/not-found.css")
  body
    include ./includes/header      
    .content 
      h1 404
      p Oops! The page you are looking for cannot be found.
      a(class="primary-btn",href="home") Go to Home
    include ./includes/footer
    include ./includes/scripts