body {
	background-color: #f5f5f5;
}

.content {
	margin-top: 50px;
	text-align: center !important;
}

h1 {
	font-size: 8em;
	color: #223a66;
	margin-bottom: 20px;
}

p {
	font-size: 1.5em;
	color: #6F8BA4;
	margin-bottom: 40px;
}

.primary-btn {
  margin: 0 auto;
}